.dialog-to-me {
  background-color: rgb(232 232 232);
  border-radius: 12px;
  color: black;
  margin-left: auto;
  max-width: 40%;
  padding: 8px;
}

.dialog-from-me {
  background-color: rgb(228 237 253 / 100%);
  border-radius: 12px;
  color: black;
  margin-right: auto;
  max-width: 40%;
  padding: 8px;
}

.date-dialog {
  font-size: 10px;
  margin-left: auto;
  margin-top: 5px;
}
