input {
  border: none;
  border-bottom: 1px solid blue;
  height: 25px;

  &:focus-visible {
    outline: none;
  }
  
  &::placeholder {
    color: #888; 
    font-size: 13px; 
    font-weight: 500;
    font-family: 'Inter', sans-serif;
  }
}

