input {
  border: none;

  &:focus-visible {
    outline: none;
  }

  &::placeholder {
    color: #888888;
    font-weight: 500;
    font-size: 13px;
    font-family: "Inter", sans-serif;
  }
}

.input-error {
  margin-top: 3px;
  margin-left: 2px;
  color: red;
  font-size: 10px;
}
