input {
  border: none;
  border-bottom: 1px solid blue;
  height: 25px;

  &:focus-visible {
    outline: none;
  }
  
  &::placeholder {
    color: #888; /* Цвет плейсхолдера */
    font-size: 13px; /* Размер шрифта */
    font-weight: 500; /* Толщина шрифта */
    font-family: 'Inter', sans-serif;
  }
}
