.chatrow {
  height: 70px;
  &:hover {
    background-color: rgba(228, 237, 253, 1);
  }
}

.chat-label {
  font-size: 13px;
  color: black;
  font-weight: 600;
}

.chat-preview {
  font-size: 12px;
  font-weight: 500;
}

.missed-messages-div {
  height: 20px;
  width: 20px;
  background-color: blue;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
}