.chatrow {
  height: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  padding-inline: 5px;

  &:hover {
    background-color: rgb(228 237 253 / 100%);
  }
}

.chat-label {
  color: black;
  font-weight: 600;
  font-size: 13px;
}

.chat-preview {
  font-weight: 500;
  font-size: 12px;
}

.missed-messages-div {
  width: 20px;
  height: 20px;
  color: white;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  background-color: blue;
  border-radius: 10px;
}
