.chatrow {
  height: 70px;

  &:hover {
    background-color: rgb(228 237 253 / 100%);
  }
}

.chat-label {
  color: black;
  font-size: 13px;
  font-weight: 600;
}

.chat-preview {
  font-size: 12px;
  font-weight: 500;
}

.missed-messages-div {
  background-color: blue;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  height: 20px;
  line-height: 20px;
  width: 20px;
}
