ul {
  margin-left: 0; /* Убираем отступ слева у самого списка */
  padding-left: 0; /* Убираем отступ слева */
  list-style-type: none; /* Убираем стандартные маркеры списка */
}

li {
  padding-left: 0; /* Убираем отступ слева у li */
}
