<div class="d-flex flex-column align-center">
  <h1 class="w-100 d-flex align-center m-0">{{error.number}}</h1>
  <h3 class="m-0 mt-4">{{error.text}}</h3>
  <div class="back-div d-flex w-100 align-center">
    <a href="#signin">Назад к чатам</a>
  </div>
</div>
