.profile-table{
  border-spacing: 0;
  box-sizing: border-box;
  font-size: 13px;
  margin-top: 50px;
  width: 510px;
}



.profile-table td {
  border-bottom: 1px solid #ccc;
  height: 33px;
}

.profile-table tr:last-child td {
  border-bottom: none;
}

.name-label {
  font-weight: 600;
  margin-top: 21px;
}

.profile-save-button {
  margin-top: 72px;
  width: 280px;
}

.profile-input {
  border: none;
  display: flex;
  text-align: right;
  width: 50%;
}
