<div class='w-100 message-field'>
  <div class='d-flex valign-center'>
    <div class='attachment-div d-flex justify-center valign-center'>
      <i class='fa-solid fa-paperclip message-attachment'></i>
    </div>
    <div class='d-flex valign-center w=100 flex-grow'>
    {{{messageInput}}}
    </div>
    {{{sendButton}}}
  </div>
</div>
