.editList {
  padding: 0;
  margin: 0;
  width: 510px;
  margin-top: 50px;
}

.editList-item {
  padding: 10px;
  border-bottom: 1px solid #ccc; /* Разделитель между элементами */
}

.editList-item:last-child {
  border-bottom: none; /* Убираем границу у последнего элемента */
}

.editListLabel {
  font-weight: 500;
  font-size: 13px;
}
