<main>
  <div class="d-flex flex-column">
    <div class="d-flex flex-grow justify-center">{{> Avatar src=image.image_path width=image.width }}</div>
    <div class="d-flex justify-center">Иван</div>
    <form>
      <div>
        <ul class="flex-grow editList">
        {{#each this}}
        {{{this}}}
        {{/each}}
        </ul>
        {{errors}}
      </div>
    </form>
  </div>
</main>
