.search-login {
 color: black;
 vertical-align: middle;
 margin-left: 5px;
 font-size: 22px;
}

.search-border-round {
  border-radius: 50%;
}

.search-plus {
  border: 2px solid blue;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  justify-content: center;
  margin-left: 5px;
}
