.search-login {
 margin-left: 5px;
 color: black;
 font-size: 22px;
 vertical-align: middle;
}

.search-border-round {
  border-radius: 50%;
}

.search-plus {
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  line-height: 1;
  border: 2px solid blue;
  border-radius: 50%;
}
