<main >
  <div class="login-window">
    <div class="w-100 d-flex justify-center">
      <h3>Вход</h3>

    </div>
    <form action="">
      <div class="input-block">
            {{{input}}}
            {{{input_password}}}
      </div>
      <div class=" h-100 d-flex flex-column">
        <div class="w-100 mt-auto">
          		{{{button}}}
          </div>
        <div class="w-100 d-flex justify-center mt-4">
          <a id="signUpButton" href="#signup">Зарегистрироваться</a>
        </div>
      </div>
    </form>
  </div>
</main>
