{{#if isOpen}}
<div class="modal-overlay">
  <div class="modal">
    <div class="modal-header">
      <h3>{{title}}</h3>
      {{{closeBtn}}}
    </div>
    <div class="modal-content">
      {{content}}
      {{isOpen}}
      123
    </div>
  </div>
</div>
{{/if}}
