<div class="cursor-pointer d-flex">
  <div>
    <img class="search-border-round" src={{{avatarUrl}}} width="33px" height="33px" alt="аватар">
  </div>
  <div class="search-login d-flex valign-center">
    {{userLogin}}
    <div class="search-plus d-flex valign-center">+</div>
  </div>
</div>
