<main>
  <form action=''>
    <div class='register-window'>
      <h3 class='w-100 d-flex justify-center'>Регистрация</h3>
      <div class='fields-block h-100'>
        {{#each this }}
          {{#if (neq @key "submitButton") }}
            {{#if (neq @key "loginLink") }}
              {{{this}}}
            {{/if}}
          {{/if}}
        {{/each}}
      </div>
      {{{error_label}}}
      <div class="signup-button-div">
        <div>{{{submitButton}}}</div>
        <div class="mt-4">{{{loginLink}}}</div>
      </div>
    </div>
  </form>
</main>
