.register-window {
  border-radius: 12px;
  box-shadow: 0 0 6px rgb(0 0 0 / 14%); 
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 615px;
  padding: 50px 30px 30px;
  width: 340px;
}
