<main>
  <form action=''>
    <div class='register-window'>
      <h3 class='w-100 d-flex justify-center'>Регистрация</h3>
      <div class='fields-block h-100'>
      {{#each this}}
        {{!-- {{#if (notIn @key "submitButton" @key "loginLink")}} --}}
          {{{this}}}
        {{!-- {{/if}} --}}
      {{/each}}
      </div>
      {{{error_label}}}
      <div>
        {{{submitButton}}}
      </div>
      <div class="mt-4">
        {{{loginLink}}}
      </div>
    </div>
  </form>
</main>
