<main>
  <form action="">
    <div class="register-window">
      <h3 class="w-100 d-flex justify-center">Регистрация</h3>
      <div class="fields-block">
        {{{ email_input }}}
        {{{ login_input }}}
      </div>
      <div class="d-flex flex-column valign-bottom h-100">
        <div class="w-100 mt-auto">
          {{{ register_button }}}
        </div>
        <div class="w-100 d-flex justify-center mt-4">
        </div>
      </div>
    </div>
  </form>
</main>