.searchfield {
  background-color: rgb(239 239 239 / 100%);
  border: none;
  border-radius: 5px;
  flex-grow: 1;  /* Поле ввода будет растягиваться */
  height: 32px;
  padding-left: 10px;
  padding-right: 10px;
  transition: border-color 0.3s ease;
}

.search-icon {
  align-items: center; /* Выравнивание иконки по вертикали */
  color: #666;
  display: flex;
  font-size: 16px;
  margin-right: 5px;  /* Отступ между иконкой и полем ввода */
}
