.searchfield {
  height: 32px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgba(239, 239, 239, 1);
  transition: border-color 0.3s ease;
  flex-grow: 1;  /* Поле ввода будет растягиваться */
}

.search-icon {
  font-size: 16px;
  color: #666;
  margin-right: 5px;  /* Отступ между иконкой и полем ввода */
  display: flex;
  align-items: center; /* Выравнивание иконки по вертикали */
}

